body {
  margin: 0;
  font-family: sans-serif;
  background-color: #fbf2c4;
}

.wrapper {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  background-color: #c7522a;
  color: #e5c185;
  padding: 20px;
  box-sizing: border-box;
}

.auth-form, #task-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.auth-form input {
  padding: 5px;
  border-radius: 4px;
  border: none;
}

button {
  background-color: #FF6933;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #E83100;
}

.main-content {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fbf2c4;
}

.calendar-columns {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.day-column {
  flex: 1;
  background-color: #74a892;
  border-radius: 8px;
  padding: 10px;
  min-height: 300px;
}

.day-column h4 {
  text-align: center;
  color: #2D4628;
}

.task-slot {
  margin-top: 10px;
  min-height: 200px;
  background-color: white;
  border: 1px dashed #ccc;
  border-radius: 6px;
  padding: 10px;
}

.task {
  background-color: #FFA570;
  margin: 5px 0;
  padding: 5px 8px;
  border-radius: 4px;
  font-size: 14px;
}
