{% extends "base.html" %}

{% block content %}
<h2>Список пользователей</h2>
<table class="table table-striped mt-3">
    <thead>
        <tr>
            <th>Логин</th>
            <th>Хеш пароля</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user[0] }}</td>
            <td>{{ user[1] }}</td>
            <td class="text-truncate" style="max-width: 200px;">{{ user[2] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}